n8n-workflows/Demo_ My first AI Agent in n8n.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "13c2cc01-46b0-4534-8bc1-70c1751d9a2c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69f8f574-9f38-467e-af7b-fbe5c3b6c99c",
              "name": "timestamp",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "9051f6d1-47a9-4e52-85ee-a8c28cd747a6",
      "name": "Extract Log Time"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-n8n-test-workspace",
          "mode": "name"
        },
        "text": "={{ $json.timestamp }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "8c952bb9-b1ab-4998-a96e-f16f59e4c813",
      "name": "Send a message",
      "webhookId": "88a11a3c-6b31-460b-8227-97487e84e25a",
      "credentials": {
        "slackApi": {
          "id": "otOdvFh3GFJ8u7Ip",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Extract Log Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Log Time": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52c0fbf2-4f6a-48c0-897b-4c7fa6a63537",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "cee0294f181ee866f6be23b9eceb8157c9c0c8b1cc93fe059298da7a0250068d"
  },
  "id": "Il1Jf9YOJ98Okwy8",
  "tags": []
}